extends layouts/main

block content
  h1 Welcome to Young4ChickS
  p Support for young farmers with quality chicks and feed.
  .buttons
    a(href='/auth/register', class='button') Register Now
    a(href='/auth/login', class='button') Login